$colorText: #f0e6e5;
$colorTextDark: #272b51;
$colorBtn: #f56161;
$colorBtnText: #f0e6e5;
$backgroundDark: #272b51;
$fontBold: "AlegreySans-ExtraBold";
$fontMain: "Roboto";
$sizeText: 1.3vmax;
$maxWidth: 1920;
$borderRadius: 5px;